* {
    margin: 0;
    padding: 0; 
  }
  
  
  #nav-icon3{
    width: 3em;
    height: 3em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  #nav-icon3 span{
    display: block;
    position: absolute;
    height: 0.5em;
    width: 100%;
    background: #0056B3;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  /* Icon 3 */
  
  #nav-icon3 span:nth-child(1) {
    top: 0;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 0.8em;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 1.6em;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.hamburgerMenuContainer{
    margin-top: 2px;
    height: 4em;
    flex-direction: column;
    align-items: center;
}

.textMenuContainer{
    margin-bottom: 0.2em;
    height: 2em;
}